.container{
  padding: 50px;
  margin-top: 20px;
  
}
.image{
    width:90% ;
    height: 300px;
    position: relative;
}
.text{
  font-size: 36px;
  line-height: 1.25;
  font-weight: 700;
  font-family: "Lato", sans-serif;

 
}
.p{
  opacity: 0.8;
  margin-bottom: 20px;
}
.title{
  font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    line-height: 1.66;
    float: left;
    display: block;
}
.aboutme{
  font-size: 14px;
    line-height: 1.4;
    margin-bottom: 30px;
}
.info{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  line-height: 1.66;
  float: left;
  
}
.info+ span {
  display: block;
  padding-left: 90px;
  opacity: 0.8;
}
/* .icon{
  padding-right: 20px;
  font-size:5px;
  
} */
.MuiIcon-root {
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-size: 10px;
  flex-shrink: 0;
  user-select: none;
}
.button {
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding-right: 30px;
  margin-right: 40px;
}